<div class="container mt-4">
  <h2 class="text-center mb-4">Products</h2>

  <app-search (searchChange)="onSearch($event)"></app-search>

  <div *ngFor="let c of categories">
    <app-category [name]="c.name" [searchTerm]="currentSearchTerm"></app-category>
  </div>

</div>

<!-- small cart toggle fixed button -->
<div style="position: fixed; right: 20px; bottom: 20px; z-index: 2000;">
  <button class="btn btn-primary" (click)="showCart = !showCart">Cart</button>
  <div *ngIf="showCart" class="mt-2">
    <app-cart></app-cart>
  </div>
</div>
